@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Kanit:ital@0;1&family=Press+Start+2P&family=Silkscreen:wght@400;700&family=VT323&display=swap');


body {
    height: 90%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Silkscreen', cursive;
}

button {
    font-family: 'Silkscreen', cursive;
    height: 50px;
    width: 100%;
    border: rgba(58, 52, 56, 0.4) solid;
    border-radius: 10px;
    box-shadow: rgba(78, 73, 76, 0.4) -5px 5px, rgba(104, 93, 100, 0.3) -10px 10px, rgba(160, 142, 153, 0.2) -15px 15px, rgba(194, 191, 193, 0.1) -20px 20px, rgba(66, 59, 64, 0.05) -25px 25px;
}

h2 {
    color: rgb(56, 52, 55)
}

button:hover {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
  }

button:active {
    background-color: rgb(78, 71, 74);
    color: aliceblue;
  }

.activate-button {
    background-color: rgb(78, 71, 74);
    color: aliceblue;
}

.main {
    display: flex;
    flex-direction: row;
}

.settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
.grid {
    display: grid;
    border: solid rgb(99, 97, 97);
    width: 500px;
    height: 500px;
    background-color: var(black);
    box-shadow: rgba(78, 73, 76, 0.4) -5px 5px, rgba(104, 93, 100, 0.3) -10px 10px, rgba(160, 142, 153, 0.2) -15px 15px, rgba(194, 191, 193, 0.1) -20px 20px, rgba(66, 59, 64, 0.05) -25px 25px;
  }

input#colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: rgba(78, 73, 76, 0.4) -5px 5px, rgba(104, 93, 100, 0.3) -10px 10px, rgba(160, 142, 153, 0.2) -15px 15px, rgba(194, 191, 193, 0.1) -20px 20px, rgba(66, 59, 64, 0.05) -25px 25px;
}

input#sizeSlider {

}

.sizeSettings {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
}

.size-value {
    padding-top: 15px;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 13 rem;
}

/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e3e3e3;
    border-radius: 1rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -8px; /* Centers thumb on the track */
    background-color: #808080;
    border-radius: 1rem;
    height: 1.5rem;
    width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: #e3e3e3;
    border-radius: 1rem;
    height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    background-color: #808080;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 1rem;
    height: 1.5rem;
    width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
}

footer {
    display: flex;
    position: fixed;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #c5c5c5;
    color: white;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

a {
    text-decoration: none  ;

}