body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: 168px;
    height: 168px;
}

.test {
    border-style: solid;
    border-width: 1px;
    width: 40px;
    height: 40px;
}

.test2 {
    background-color: #000000;
}

.test3 {
    background-color:white;
}

.box {
    display: flex;
    border-style: none;
    flex-direction: column;
    justify-content: space-around;
    width: 70px;
    height: 70px;
    margin-left: 20px;
}